{% extends 'base.html.twig' %}

{% block body %}
    <h1>List Reviews</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>PublicationDate</th>
            <th>Note</th>
            <th>UserRatedId</th>
            <th>ReviewAuthorId</th>
        </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.text }}</td>
                <td>{{ review.publicationDate | date("m/d/Y") }}</td>
                <td>{{ review.note }}</td>
                <td>{{ review.userRated }}</td>
                <td>{{ review.reviewAuthor }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('review_new') }}">Create a new review</a>
        </li>
    </ul>

{% endblock %}